<h1>Projects#show</h1>
<p>Find me in app/views/projects/show.html.erb</p>

<div class="h1">Name: <%= @project.name %> </div>
<div class="h1">Company: <%= @project.company.name %></div>
<div class="h1">Default_rate:  <%= @project.default_rate %></div>
<div class="h1">slug:  <%= @project.slug %></div>


<table>
  <tbody>
  <tr>
    <th>View</th>
    <th>User</th>
    <th>Date</th>
    <th>hours</th>
  </tr>
  <% @project.works.each do |work| %>
      <tr>
        <td><%= link_to 'View', work %></td>
        <td><%= work.user %></td>
        <td><%= work.datetimeperformed.strftime('%m/%d/%Y %H:%M') %></td>
        <td><%= work.hours %></td>
      </tr>
  <% end %>
  </tbody>

</table>

<p><%= link_to 'All Projects', projects_path %></p>