<h1>Projects#show</h1>
<p>Find me in app/views/projects/show.html.erb</p>

<div class="h1">Name: <%= @project.name %> </div>
<div class="h1">Company: <%= @project.company.name %></div>
<div class="h1">Default_rate:  <%= @project.default_rate %></div>
<div class="h1">slug:  <%= @project.slug %></div>

<p><%= link_to 'All Projects', projects_path %></p>